<main class="holding temp">
    <figure class="site-logo">
        <img src="{{ config:app:url }}/assets/images/whywefight-logo.png">
    </figure>
    <p>{{ content }}</p>
    <ul class="languageswitcher-main">
        {{ locales current_first="false" }}
            {{ if total_results > 1 }}
                <a href="{{ url }}">{{ if is_current }}<strong>{{ /if }}{{ locale:handle }}{{ if is_current }}</strong>{{ /if }}</a>{{ unless last}} | {{ /unless }}
            {{ /if }}
        {{ /locales }}  
    </ul>
</main>
