html {
  font-size: 1rem;
}

body {
  font-family: "Noto Sans Display", Proxima Nova, Arial, sans-serif;
  margin: 0;
  line-height: 1.5;
  font-size: clamp(17px, 4.3vw, 22px);
}

a {
  text-decoration: none;
  color: #999;

  &:hover {
    color: black;
  }
}

main p {
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

.krivomai {
  display: none;
}
