// STORIES PAGE

.main-stories {
  max-width: 92vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.stories-preview {
  --border-width: 9px;
  aspect-ratio: 1/1;
  //background: var(--wwf-violet);
  display: grid;
  place-items: center;
  border: calc(var(--border-width) * 2) solid white;
  position: relative;
  background-size: cover;
  transition: all 0.4s;
  a {
    color: white;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.4s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  &:hover::before {
    transform: translateX(-9px) translateY(-9px);
  }
  &:hover::after {
    transform: translateX(9px) translateY(9px);
  }
}

.stories-preview::before {
  content: "";
  width: 30%;
  aspect-ratio: 1/1;
  display: block;
  position: absolute;
  top: calc(var(--border-width) * -1);
  left: calc(var(--border-width) * -1);
  border-left: var(--border-width) solid var(--wwf-purple);
  border-top: var(--border-width) solid var(--wwf-purple);
  border-bottom: 0;
  border-right: 0;
  transition: transform 0.4s;
}

.stories-preview::after {
  content: "";
  width: 30%;
  aspect-ratio: 1/1;
  display: block;
  position: absolute;
  bottom: calc(var(--border-width) * -1);
  right: calc(var(--border-width) * -1);
  border-bottom: var(--border-width) solid var(--wwf-violet);
  border-right: var(--border-width) solid var(--wwf-violet);
  border-top: 0;
  border-left: 0;
  transition: transform 0.4s;
}

.stories-preview {
  &:nth-of-type(3n + 1)::before {
    border-color: var(--wwf-purple);
  }
  &:nth-of-type(3n + 2)::before {
    border-color: var(--wwf-red);
  }
  &:nth-of-type(3n + 3)::before {
    border-color: var(--wwf-violet);
  }

  &:nth-of-type(3n + 1)::after {
    border-color: var(--wwf-violet);
  }
  &:nth-of-type(3n + 2)::after {
    border-color: var(--wwf-purple);
  }
  &:nth-of-type(3n + 3)::after {
    border-color: var(--wwf-red);
  }
}

.stories-preview--yours {
  grid-column: -2/-1;
  a {
    background: rgba(0, 0, 0, 0.05);
    color: black;
  }
  &::after {
    border-color: rgba(0, 0, 0, 0.5) !important;
  }
  &::before {
    border-color: rgba(0, 0, 0, 0.5) !important;
  }
}

.stories-preview > .reading-time {
  position: absolute;
  font-size: 0.8rem;
  left: 0.6rem;
  bottom: 0.5rem;
  color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  transition: opacity 0.4s;
}

.stories-preview:hover > .reading-time,
.stories-preview:hover > .tws {
  opacity: 1;
}

.main-stories:hover > .stories-preview:not(:hover) {
  opacity: 0.7;
}

.stories-preview > .tws {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.6rem;
  display: flex;
  gap: 0.2rem;
  margin: 0;
  color: white;
  text-transform: lowercase;
  opacity: 0;
  transition: opacity 0.4s;
}

.stories-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/-1;
  span {
    font-size: 0.9rem;
  }
}
